/* general */

#panorama-content {
    min-height: 300px;
    height: 100%;
}

.temp {
    height: 300px;
}


/*Search Input*/

#search-field .input-field label {
    color: #FFF;
}

#search-field .input-field input[type=text]:focus+label {
    color: #FFF;
}

#search-field .input-field input[type=text]:focus {
    border-bottom: 2px solid #FFF;
    box-shadow: 0 1px 0 0 #FFF;
    font-size: 14px;
    font-weight: bold;
}

#search-field .input-field .prefix.active {
    color: #FFF;
}

html {
    font-family: 'Permanent Marker', cursive;
    line-height: 1.5;
    font-weight: normal;
}

body {
    background: #fafafa;
    margin: 0;
}

header {
    padding-left: 300px;
}

main {
    padding-left: 300px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#main-title {
    font-size: 20px;
    color: #FFF;
}

.map-wrapper {
    padding-bottom: 30%;
    height: 0;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#music-view>ul {
    max-height: 300px;
    overflow: auto;
}

.btn-menu {
    position: fixed;
    z-index: 99;
    right: 10px;
    color: red;
    top: 50px;
}

.themes {
    display: flex;
    flex-wrap: wrap;
}

.theme {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto 10px;
    transition: all 0.3s ease;
    border: 2px #FFF dashed;
}

.theme:hover {
    cursor: pointer;
}


/* ---------------------------------------------------
    UDACITY
----------------------------------------------------- */

#pano {
    width: 200px;
    height: 200px;
}

#search-within-time-text {
    width: 84%;
}

.text {
    font-size: 12px;
}

#toggle-drawing {
    width: 27%;
    position: relative;
    margin-left: 10px;
}

#zoom-to-area-text {
    position: relative;
    width: 70%;
}

#zoom-to-area {
    width: 24%;
}

.toast-error {
    background: red;
    color: white
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media only screen and (min-width: 1200px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 14.5px;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -350px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .map-wrapper {
        padding-bottom: 100%;
    }
}