/* general */

#panorama-content {
    min-height: 300px;
    height: 100%;
}

.temp {
    height: 300px;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
html {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: normal;
}

body {
    background: #fafafa;
    margin: 0;
}

header {
    padding-left: 300px;
}

main {
    padding-left: 300px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.map-wrapper {
    padding-bottom: 30%;
    height: 0;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-menu {
    position: fixed;
    z-index: 99;
    right: 10px;
    color: red;
    top: 50px;
}


/* ---------------------------------------------------
    UDACITY
----------------------------------------------------- */

#pano {
    width: 200px;
    height: 200px;
}

#search-within-time-text {
    width: 84%;
}

.text {
    font-size: 12px;
}

#toggle-drawing {
    width: 27%;
    position: relative;
    margin-left: 10px;
}

#zoom-to-area-text {
    position: relative;
    width: 70%;
}

#zoom-to-area {
    width: 24%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media only screen and (min-width: 1200px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 14.5px;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -350px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .map-wrapper {
        padding-bottom: 100%;
    }
}